{% extends "base.html" %}

{% block head_title %} Add restaurant || {{ block.super }} {% endblock head_title %}

{% block content %}
<h1> Add restaurant </h1>
{% if form.errors %}
{{ form.errors }}
{% endif %}
<form method='POST'> {% csrf_token %}
    {{ form.as_p }}
<!-- <input type='text' name='name' placeholder="Your title"></br>
<input type='text' name='location' placeholder="Your location"></br>
<input type='text' name='category' placeholder="Your category"></br> -->
<button type='submit'>Save</button>
</form>
{% endblock content %}
